- content_for :title do
  Frozen Charlotte Press | #{@print.title}

.wrap--narrow
  = image_tag("prints/fulls/#{@print.image}", class: 'image')
  .image__info
    %p= @print.title
    %p= @print.edition_size
    %p= @print.year
    %p= @print.price
