- content_for :title do
  Frozen Charlotte Press | #{@drawing.title}

.wrap--narrow
  = image_tag("drawings/fulls/#{@drawing.image}", class: 'image')
  .image__info
    %p.image__info__title= "#{@drawing.title}"
    - if @drawing.medium
      %p.image__info__desc= @drawing.medium.capitalize
    - if @drawing.height && @drawing.width
      %p.image__info__desc= "#{@drawing.height} x #{@drawing.width} inches"
    - if @drawing.year
      %p.image__info__desc= @drawing.year

    .image__nav
      = link_to '<', @drawing.prev, class: 'image__nav--left'
      = link_to '>', @drawing.next, class: 'image__nav--right'
