.wrap

  = link_to href: root_path do
    = image_tag('logo.png', class: 'logo')

  %nav.nav
    = link_to 'News', '/', class: 'nav__item'
    = link_to 'Drawings', '/drawings', class: 'nav__item'
    = link_to 'Prints', '/prints', class: 'nav__item'
    = link_to 'About', '/about', class: 'nav__item'
