<!DOCTYPE html>
%html
  %head
    %meta{name: 'description', content: 'Frozen Charlotte Press is the studio of Raeleen Kao, an artist and printmaker living in Chicago, Illinois.'}
    %meta{name: 'keywords', content: 'fine arts, printmaking, etching, lithography, graphite, contemporary art, figurative, drawing, chicago, illinois, madison, wisconsin'}
    %meta{:name => 'viewport', :content => 'width=device-width, minimum-scale=1.0, maximum-scale=1.0'}
    %title Frozen Charlotte Press | The Fine Art Studio of Raeleen Kao
    %link{href: 'http://fonts.googleapis.com/css?family=Gentium+Book+Basic', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    %header
      = render 'shared/header'

    .main
      = yield

    %footer
      = render 'shared/footer'
